<div class="row mt-4">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Witaj w DailyBook</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui exercitationem autem esse ipsa similique quidem
          minima explicabo omnis quas veritatis ipsum et culpa, quasi perspiciatis at enim pariatur commodi corrupti
          inventore sunt molestiae? Doloribus nemo eligendi iusto, id blanditiis esse excepturi ex harum possimus.
          Possimus
          distinctio quae ad libero quisquam. Minus aut hic optio, cumque, rem harum laudantium obcaecati non nobis
          temporibus dolorum nesciunt impedit omnis reiciendis minima veritatis magni! Amet doloremque cupiditate
          nostrum
          ab, earum fuga, optio magni nihil qui reiciendis ullam commodi quibusdam reprehenderit deleniti delectus,
          laudantium impedit vel harum asperiores laborum nemo ad sapiente atque. Neque, cum.
        </p>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
          <mat-chip color="primary" selected>Primary fish</mat-chip>
          <mat-chip color="accent" selected>Accent fish</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <div class="row text-center">
          <div class="col">
            <button mat-button><span translate>Remove</span></button>
          </div>
          <div class="col">
            <button mat-button translate><span translate>Edit</span></button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
