<mat-card class="example-card">
  <h2 class="header" translate>Register</h2>
  <mat-card-content>
    <mat-form-field>
      <input matInput [placeholder]="'First name' | translate">
    </mat-form-field>

    <mat-form-field>
      <input matInput [placeholder]="'Last name'  | translate">
    </mat-form-field>

    <mat-form-field>
      <input matInput [placeholder]="'Address E-mail' | translate">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" [placeholder]="'Password' | translate">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" [placeholder]="'Repeat password' | translate">
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="btn-block" color="primary"><span translate>Sign up</span></button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <span class="mr-1" translate>Do you already have an account?</span>
        <a routerLink="/auth/login" translate>Sign in</a>
      </div>
    </div>
    <!-- <div class="row mt-3">
              <div class="col-md-12 text-center">
                <span>OR</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <button mat-raised-button class="btn-block"><span translate>Google</span></button>
              </div>
            </div> -->
  </mat-card-actions>
</mat-card>
