<div class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
      <div class="navbar-left">
        <img class="img-fluid navbar-brand-img" src="/assets/img/dailybook.png" alt="dailybook" (click)="goToHome()">
      </div>
      <div class="navbar-right">
        <button mat-button (click)="goToSettings()">Ustawienia</button>
        <button mat-button (click)="logout()">Wyloguj</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
